.pge {
    display: grid;
    gap: 16px;
    grid-template-columns: 200px 800px 400px;
    grid-template-areas:
        "nav ttl ttl"
        "nav inf abt"
        "xxx inf msg"
        "msc yyy wrn";
    
    width: fit-content;
    margin: 16px auto;
}

.ttl {
    grid-area: ttl;
}

.wdw-nav {
    grid-area: nav;
}

.wdw-inf {
    grid-area: inf;
}

.wdw-abt {
    grid-area: abt;
}

.wdw-msg {
    grid-area: msg;
}

.wdw-wrn {
    grid-area: wrn;

    .cnt {
        flex-direction: row;
        justify-content: space-around;
    }
}

.wdw-msc {
    grid-area: msc;

    .cnt {
        align-items: center;
    }

    h3 {
        width: 100%;
    }

    #msc-img {
        width: 128px;
    }
}